spring:
  application:
    name:
      configServer

  profiles:
    active: native

  cloud:
    config:
      server:
        native:
          search-location: classpath:/config

server:
  port: 8888

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    hostname: localhost



  # Eureka Server config
#  eureka.client.service-url.defaultZone=http://localhost:8761/eureka
#  eureka.instance.prefer-ip-address=true
#  eureka.instance.hostname=localhost